<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        #iconcka{
            cursor: pointer;
        }
    </style>

</head>
<body>
    <div id="google_translate_element"></div>



    <div class="container mt-3">
        <div class="card-header">
            <div class="input-group">
            <input type="text" class="form-control" id='malumot' placeholder="Matin kiriting...">
            <button class="btn btn-dark" type="button" id="btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>



            </button>
        </div>

        </div>
        <div class="card-body">
            <svg id='iconcka' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-volume-2"><polygon points="11 5 6 9 2 9 2 15 6 15 11 19 11 5"/><path d="M19.07 4.93a10 10 0 0 1 0 14.14M15.54 8.46a5 5 0 0 1 0 7.07"/></svg>
            <table class="table">
              <thead>
                <tr> 
                    <th scope="col "><center>O'zbekcha</center></th> 
                    <th scope="col "><center>Inglizcha </center></th>
                    
                </tr>
              </thead>
              <tbody>
                <tr>
                   <td><center id='ozbek'></center></td>
                   <td><center id='ingliz'></center></td>
                </tr> 
              </tbody>
            </table>
        </div>
        <div class="card-footer">
            <h6>UZ | EN Tarjimon...</h6>
        </div>
    </div>
    
    <script>

        const uzbek=document.querySelector('#malumot');
        const iconcka=document.querySelector('#iconcka');
        const btn=document.querySelector('#btn');
        const ozbek=document.querySelector('#ozbek');
        const ingliz=document.querySelector('#ingliz');

        btn.addEventListener('click',()=>{
            fetch('http://localhost:8000/api',{
                headers:{
                    'Accept':'application/json',
                    'Content-Type':'application/json'
                },
                method:'POST',
                body:JSON.stringify({name:`${uzbek.value}`})
            })
                .then((data)=>{
                	return data.json();
                }).then((res)=>{
                    ozbek.innerHTML=uzbek.value
                    ingliz.innerHTML=res.name

                }).catch((err)=>{
                	console.log(err)
                })
        })
        // Ovoz 
        iconcka.addEventListener('click',()=>{

            var rgt = new SpeechSynthesisUtterance(`${ingliz.innerHTML}`);

            rgt.lang='en-US'
            window.speechSynthesis.speak(rgt); 
        })

        // Google Tarjimon
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        };


        // Google Tarjimon Add Class Qushilgan
        document.querySelector('#google_translate_element').classList.add('form-control')
        document.querySelector('#google_translate_element').classList.add('d-flex')
        document.querySelector('#google_translate_element').classList.add('justify-content-end')

    </script>
    <script type="text/javascript" src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
   


    
</body>
</html>